In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l :
    print(i , type(i))#printing i and finding its data type

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1 = ["sudh" , "kumar" , "krish" , "naik"]

In [4]:
for i in l1 :#indentation means for loops ka area jo enter dabane ke baad aata hai
    print(i)

sudh
kumar
krish
naik

In [5]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [6]:
for i in l1 :
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [7]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [8]:
for i in l1 :
    if i == "kumar":
        break
    print(i)

sudh

In [9]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [10]:
for i in l1:
    if i == "kumar" :
        break
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh

In [11]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [12]:
for i in l1 :
    if i == "kumar" :
        continue 
    print(i)

sudh
krish
naik

In [13]:
for i in l1 :
    if i == "kumar" :
        continue
    print(i)

sudh
krish
naik

In [14]:
for i in l1 :
    if i == "kumar" :
        continue
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [15]:
range(5)#creating data from range 0 to 5

range(0, 5)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [18]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [21]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [24]:
len(l1)

4

In [25]:
list(range(len(l1)))

[0, 1, 2, 3]

In [27]:
for i in range(len(l1)) :
    print(l1[i])#i ka value 0,1,2,3 hoga

sudh
kumar
krish
naik

In [29]:
len(l1)

4

In [34]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [35]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [37]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])#reversing using for loop

naik
krish
kumar
sudh

In [39]:
for i in [3,2,1,0]:
     print(l1[i])#dont use this we never know how much long or big is the list

naik
krish
kumar
sudh

In [40]:
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]

In [41]:
list(range(0 , len(l2), 2))

[0, 2, 4, 6, 8, 10, 12]

In [42]:
for i in range(0 , len(l2), 2) :
    print(l2[i])

23
45
6
67
87
9
8

In [43]:
l2[0]

23

In [44]:
l = [1,2,3,4,7,8,98]

In [46]:
sum(l)#sum of all numbers in list

123

In [48]:
result = 0
for i in l:
    result = result +i
result#sum of all numbmers in list program

123

In [49]:
t = (1,2,3,4,4,5)

In [50]:
result = 0
for i in t:
    result = result +i
result#sum of all numbmers in tuples

19

In [57]:
s = {1,2,3,4,5, "sudh" , "pwskills"}#iterating sets

In [58]:
for i in s :
    print(i)

pwskills
1
2
3
4
5
sudh

In [59]:
s1 = "pwskills" #iterating string

In [60]:
for i in s1 :
    print(i)

p
w
s
k
i
l
l
s

In [61]:
 d = {"name" : "sudh" , "class" : "data science masters" , 
      "topic" :["python", "stats" , "machine learning" , "DL" ,"CV" , "NLP" , "resume","interview"]}

In [62]:
d

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [63]:
d['name']

'sudh'

In [64]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [65]:
for i in d.keys() :
    print(d[i])#iterating dictionary on basis of keys

sudh
data science masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [66]:
d.values()

dict_values(['sudh', 'data science masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [67]:
for i in d.values():
    print(i)

sudh
data science masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [68]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data science masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [71]:
for i in d.items() :
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])