In [1]:
print("This is my print")

This is my print

In [2]:
l = [324,45,45,45]

In [3]:
len(l)#length function

4

In [4]:
type(l)#type function

list

In [5]:
def test():#def function
    pass

In [6]:
def test1():#defining function
    print("This is my very very first function")

In [7]:
test1()#calling test1 function and it will give us output

This is my very very first function

In [8]:
test1() + "sudh"

This is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def test2():
    return "this is my very first return"

In [11]:
test2()

'this is my very first return'

In [12]:
test2() + "sudh"#return will give us what datatype we inserted in it

'this is my very first returnsudh'

In [13]:
def test3():
    return "sudh" , 23, 345.56, [1,2,3,3]

In [14]:
test3()#giving output in tuples form|

('sudh', 23, 345.56, [1, 2, 3, 3])

In [15]:
a,b,c,d =test3()#putting valuest of test3 in a.b.c.d

In [16]:
a

'sudh'

In [17]:
b

23

In [18]:
c

345.56

In [19]:
d

[1, 2, 3, 3]

In [20]:
a = 1
b = 4

In [21]:
a, b = 1,4#doing same work as above cell

In [22]:
def test4():#putting logic in function
    a = 5+6/7
    return a

In [23]:
test4()

5.857142857142857

In [24]:
def test5(a,b,c):
    d = a+b/c
    return d

In [25]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [26]:
test5(2,5,8)#putting our own arguments

2.625

In [27]:
def test6(a,b):
    return a+b

In [28]:
test6(3,4)

7

In [29]:
test6("sudh" , "kumar")#concatenate strings

'sudhkumar'

In [30]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [31]:
l = [1,2,3,4,"sudh","kumar", [1,2,3,4,5,6]]

In [32]:
def test7(l) :
    l1 = []
    for i in l:
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [33]:
test7(l)

[1, 2, 3, 4]

In [34]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [35]:
def test8(a):
    l = []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [36]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [37]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [38]:
def test9(a):
    """This is my function to extract num data from list"""
    l = []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [39]:
test9()

TypeError: test9() missing 1 required positional argument: 'a'

In [40]:
def test10(a,b):
    return a+b

In [41]:
def test11(*args):
    return args

In [42]:
type(test11())

tuple

In [43]:
test11(1,2,3)

(1, 2, 3)

In [44]:
test11(1,2,3,"sudh","kumar",[1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [46]:
def test12(*sudh):
    return sudh

In [48]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [50]:
def test13(*args ,a):
    return args , a

In [51]:
test13(1,2,3,4, a =24 )

((1, 2, 3, 4), 24)

In [52]:
def test14(c,d,a=23 ,b = 1):
    return a,b,c,d

In [53]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [54]:
test14(11,5)

(23, 1, 11, 5)

In [56]:
test14(2,5, a=2342)#overriding the value of a

(2342, 1, 2, 5)

In [57]:
def test15(**kwargs):
    return  kwargs

In [59]:
test15()#its returning dictionary

{}

In [60]:
test15(a = [1,2,3,4] , b = "sudh" , c=23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}